In [3]:
import pandas as pd


df = pd.read_csv('/ssd6/Roy/Training set.csv')

# Assign label 1 for Male and 0 for Female
df['label'] = df['Sex'].apply(lambda x: 1 if x == 'Male' else 0)

# Assign Height as x and Weight as y
df[['x', 'y']] = df[['Height', 'Weight']]

# Displaying the first few rows to confirm
df[['x', 'y', 'label']].head()

        x      y  label
0  165.65  35.41      0
1  148.53  74.45      0
2  167.04  81.22      1
3  161.54  71.47      1
4  174.31  78.18      1

In [4]:
# Saving the transformed data as a JSON file
df[['x', 'y', 'label']].to_json('height_weight_label.json', orient='records')

# Confirm the process by showing the first few rows of the JSON format
json_output = df[['x', 'y', 'label']].to_json(orient='records')
json_output[:200]  # Displaying a snippet of the JSON content

'[{"x":165.65,"y":35.41,"label":0},{"x":148.53,"y":74.45,"label":0},{"x":167.04,"y":81.22,"label":1},{"x":161.54,"y":71.47,"label":1},{"x":174.31,"y":78.18,"label":1},{"x":143.05,"y":79.27,"label":0},{'